* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 50vh;
}

section{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#h1{
  front-size: 3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#h2{
    front-size: 2rem;
    text-transform: uppercase;
}

.proyect-detail{
    border: 5px salmon